<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">

<style>
    .navbar-nav a {
        color: white;
        font-size: 18px;
    }

    .heading {
        margin-bottom: 30px;
    }

    button {
        background-color: black;
        color: white;
        margin-left: 20px;
        height: 50px;
    }

    a :hover {
        color: yellow;
    }

    .container {
        margin-top: 30px;
        align-items: center;
        margin-right: 100px;
        color: white;
    }
</style>

{{>adminNavbar}}

<div class="container">

    <table id="example" class="table table-dark table-striped" style="width:100%">
        
        <thead>
            <tr>
                <th>Booking_Id</th>
                <th>Pickup Point</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Time</th>
                <th>Passengers</th>
            </tr>
        </thead>
        <tbody>
          {{#each data.data}}
        <tr>
            <td>{{this.booking_id}}</td>
            <td>{{this.pickup_point}}</td>
            <td>{{this.destination}}</td>
            <td>{{this.date}}</td>
            <td>{{this.time}}</td>
            <td>{{this.pasengerNumber}}</td>

        </tr>
        {{/each}}
        </tbody>
    </table>

    {{!-- <p class="text-end">You are logged in as:
        <b>{{identity.fullName}}</b> --}}

{{!-- <table>
      
        <thead>
            <tr>
                <th>Booking_Id</th>
                <th>Pickup Point</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Time</th>
                <th>Passengers</th>
            </tr>
        </thead>
        <tbody>
          {{#each data.data}}
        <tr>
            <td>{{this.booking_id}}</td>
            <td>{{this.pickup_point}}</td>
            <td>{{this.destination}}</td>
            <td>{{this.date}}</td>
            <td>{{this.time}}</td>
            <td>{{this.pasengerNumber}}</td>

        </tr>
        {{/each}}
        </tbody>
    </table> --}}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>