
    <link rel="stylesheet" href="style.css">

    <style>
        .form-wrap {
            background-image: url('https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_1349,h_644/v1613521692/assets/d9/ce6c00-32b0-4b93-9f0d-6f927d93da08/original/Rider_Home_bg_desktop2x.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 92vh;
            display: flex;
        }
        .container{
            margin-top: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
            padding: 20px;
        }

        .navbar-nav a {
            color: white;
            font-size: 18px;
        }
        .heading{
            margin-bottom: 30px;
        }
        button{
            background-color: black;
            color: white;
            height:40px;
            margin-left: 120px;
            border-radius: 10px;
        }
      
    </style>


    

    <!-- First div -->
    <div class="form-wrap">
        <div class="row w-100">
            <div class="col-6 row justify-content-center align-items-center">
                <div class="bg-white col-11">
                    <form class="container col-9 mx-auto" method="post" >
                       <center> <h2 class="heading">Request a ride now</h2></center>
                       <table>
                        <tr>
                            <td><label for="pickup_point">Pickup point</label></td> 
                            <td><input id="myInput" type="text" class="form-control m-3 col-3" name="pickup_point" value={{data.data.dataValues.pickup_point}}></td> </tr>
                        <tr>
                            <td><label for="destination">Destination</label></td>
                            <td><input id="myInput1" type="text" class="form-control m-3" name="destination" value={{data.data.dataValues.destination}}></td></tr>
                        <tr>
                            <td><label for="destination">Date of Travel</label></td>
                            <td><input id="myInput1" type="date" class="form-control m-3" name="date"value={{data.data.dataValues.date}}></td></tr>
                        <tr>
                            <td><label for="destination">Time of Travel</label></td>
                            <td><input id="myInput1" type="time" class="form-control m-3" name="time" value={{data.data.dataValues.time}}></td></tr>
                        <tr>
                            <td><label for="destination">No of Passengers</label></td>
                            <td><input id="myInput1" type="text" class="form-control m-3" name="pasengerNumber" value={{data.data.dataValues.pasengerNumber}}></td></tr>
                     </table><br>
                      <button  type="submit" class="col-5"> GO</button>
                       <span id="err-name" style="color: red;display:block;"></span>
                      </form>
                </div>
            </div>
        </div>
    </div>
    <!-- First div end -->

    <script>
        function validate(e){
               e.preventDefault();
               var pickup =document.getElementById('myInput').value;
               var destination =document.getElementById('myInput1').value;

               //alert(txt);
               if(pickup==destination){
       
                 document.getElementById('err-name').innerText="Pickup point and destination are same";
               }
           }
       
       
           </script>
  